<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instituto.cuanto.sisgene">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_tablet"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".PreguntasActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".NombresPersonasEncuestadasActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".DatosCabeceraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".PrincipalActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".PrincipalEncuestaActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".ExportarEncuestaActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".ConsultarSupervisorActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".ModificarEncuestaActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"></activity>


    </application>

</manifest>
